name: Pull Request

on:
  pull_request:

jobs:
  terraform-plan-and-apply-and-tfmigrate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up tfenv
        uses: rhythmictech/actions-setup-tfenv@v0.1.2

      - name: Use tfenv to install required Terraform version
        run: make tfenv

      - name: Use gh CLI and gh-install extention to install tfmigrate
        run: |
          gh extension install redraw/gh-install
          gh install minamijoyo/tfmigrate

      - name: Start localstack mock AWS environment
        run: make up

      - name: Bootstrap localstack to have tfmigrate-demo S3 bucket
        run: make bootstrap

      - name: Apply project-one
        run: make project-one

      - name: Apply project-one
        run: make project-two

      - name: Plan tfmigrate migration
        run: make plan-migration

      - name: Apply tfmigrate migration
        run: make apply-migration
